#!/usr/bin/env python
PACKAGE = "laser_pointer_tracker"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("hue_min",    int_t,    0, "Lower threshold for laser hue", None, 0,  255)
gen.add("hue_max",    int_t,    0, "Upper threshold for laser hue", None, 0,  255)
gen.add("sat_min",    int_t,    0, "Lower threshold for laser saturation", None, 0,  255)
gen.add("sat_max",    int_t,    0, "Upper threshold for laser saturation", None, 0,  255)
gen.add("val_min",    int_t,    0, "Lower threshold for laser value", None, 0,  255)
gen.add("val_max",    int_t,    0, "Upper threshold for laser value", None, 0,  255)

exit(gen.generate(PACKAGE, "calibration_helper", "Thresholds"))
